trigger:
- main

pool:
  name: Default

variables:
  imageName: lab07-nodejs-app
  dockerHubRepo: ashishmondal420/lab07-nodejs-app

steps:
- checkout: self

- task: Docker@2
  displayName: Build and Push Docker Image
  inputs:
    command: buildAndPush
    repository: ashish420tech/nodejs-ci-lab
    dockerfile: 04-docker/lab-07-docker-image-push/Dockerfile
    containerRegistry: DockerHubConnection
    tags: |
      $(Build.BuildId)
      latest


