# Lab-07: Docker Image Build & Push to Docker Hub
# This pipeline triggers ONLY when Lab-07 files change

trigger:
  paths:
    include:
      - 04-docker/lab-07-docker-push/*

pr: none

pool:
  name: Default   # self-hosted agent (your Windows agent)

variables:
  imageName: ashish420tech/nodejs-lab07
  dockerRegistryServiceConnection: dockerhub-service-connection
  dockerfilePath: 04-docker/lab-07-docker-push/Dockerfile
  buildContext: 04-docker/lab-07-docker-push
  tag: $(Build.BuildId)

steps:
  - checkout: self

  - task: Docker@2
    displayName: Build and Push Docker Image
    inputs:
      containerRegistry: $(dockerRegistryServiceConnection)
      repository: $(imageName)
      command: buildAndPush
      Dockerfile: $(dockerfilePath)
      buildContext: $(buildContext)
      tags: |
        $(tag)
        latest
