trigger:
- main

pool:
  name: Default

variables:
  imageName: lab07-nodejs-app
  dockerHubRepo: ashishmondal420/lab07-nodejs-app

steps:
- checkout: self

- task: Docker@2
  displayName: Build and Push Docker Image
  inputs:
    containerRegistry: dockerhub-connection
    repository: your_dockerhub_username/lab07-nodejs-app
    command: buildAndPush
    Dockerfile: 04-docker/lab-07-docker-image-push/Dockerfile
    tags: |
      latest
      $(Build.BuildId)

