trigger:
  paths:
    include:
      - lab-17/*

pool:
  vmImage: ubuntu-latest

stages:
- stage: CI
  displayName: "Lab-17 CI Stage"
  jobs:
  - job: BuildAndTest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm test
      workingDirectory: lab-17/app
      displayName: "Install dependencies & run tests"
