apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80

        # Environment variable from Secret
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: DB_PASSWORD

        # Mount ConfigMap as volume
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html

      # Volumes are defined OUTSIDE containers
      volumes:
      - name: html-volume
        configMap:
          name: nginx-config
