trigger:
  branches:
    include:
      - main

pool:
  name: Default   # self-hosted agent

variables:
  APP_DIR: 01-foundation/lab-04-nodejs-ci
  IMAGE_NAME: ashishmondal420/nodejs-ci-lab
  TAG: $(Build.BuildId)

steps:
- script: |
    echo "Agent:"
    hostname
    docker --version
  displayName: "Verify agent and Docker"

- task: Docker@2
  displayName: "Build Docker image"
  inputs:
    command: build
    repository: $(IMAGE_NAME)
    Dockerfile: 04-docker/lab-05-docker-ci/Dockerfile
    buildContext: .
    tags: |
      $(TAG)

- task: Docker@2
  displayName: "Push Docker image to Docker Hub"
  inputs:
    command: push
    repository: $(IMAGE_NAME)
    tags: |
      $(TAG)
    containerRegistry: dockerhub-conn
