# Number of pod replicas
replicaCount: 1

# Docker image configuration
image:
  repository: lab14-nodejs
  tag: latest
  pullPolicy: IfNotPresent

# Container port
containerPort: 3000

# Kubernetes Service configuration
service:
  type: NodePort
  port: 3000
  nodePort: 30007
