trigger: none   # manual run (production-style)

pool:
  name: Default   # your self-hosted Windows agent

stages:
- stage: Deploy_Blue
  displayName: Deploy BLUE
  jobs:
  - job: Blue
    steps:
    - checkout: self
    - script: |
        kubectl apply -f k8s/deployment-blue.yaml
        kubectl apply -f k8s/service.yaml
      workingDirectory: lab-19-blue-green-deployment
      displayName: Deploy Blue Version

- stage: Deploy_Green
  displayName: Deploy GREEN
  dependsOn: Deploy_Blue
  jobs:
  - job: Green
    steps:
    - checkout: self
    - script: |
        kubectl apply -f k8s/deployment-green.yaml
      workingDirectory: lab-19-blue-green-deployment
      displayName: Deploy Green Version

- stage: Switch_Traffic
  displayName: Switch Traffic to GREEN
  dependsOn: Deploy_Green
  jobs:
  - job: Switch
    steps:
    - checkout: self
    - powershell: |
        (Get-Content k8s/service.yaml) `
          -replace 'version: blue','version: green' |
        Set-Content k8s/service.yaml
        kubectl apply -f k8s/service.yaml
      workingDirectory: lab-19-blue-green-deployment
      displayName: Switch Traffic to Green
