trigger: none   # manual trigger

pool:
  name: Default   # will pick wsl-agent (Linux)

stages:
# ======================
# STAGE 1: DEPLOY BLUE
# ======================
- stage: Deploy_Blue
  displayName: Deploy BLUE
  jobs:
  - job: Blue
    displayName: Blue Deployment
    steps:
    - checkout: self

    - bash: |
        kubectl apply -f k8s/deployment-blue.yaml
        kubectl apply -f k8s/service.yaml
      workingDirectory: lab-19-blue-green-deployment
      displayName: Apply Blue Manifests

# ======================
# STAGE 2: DEPLOY GREEN
# ======================
- stage: Deploy_Green
  displayName: Deploy GREEN
  dependsOn: Deploy_Blue
  jobs:
  - job: Green
    displayName: Green Deployment
    steps:
    - checkout: self

    - bash: |
        kubectl apply -f k8s/deployment-green.yaml
      workingDirectory: lab-19-blue-green-deployment
      displayName: Apply Green Manifests

# ======================
# STAGE 3: SWITCH TRAFFIC
# ======================
- stage: Switch_Traffic
  displayName: Switch Traffic to GREEN
  dependsOn: Deploy_Green
  jobs:
  - job: Switch
    displayName: Traffic Switch
    steps:
    - checkout: self

    - bash: |
        sed -i 's/version: blue/version: green/' k8s/service.yaml
        kubectl apply -f k8s/service.yaml
      workingDirectory: lab-19-blue-green-deployment
      displayName: Switch Service Selector
