apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: NodePort
  selector:
    app: web
    version: blue   # <-- traffic starts with BLUE
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
