trigger:
  paths:
    include:
      - 01-foundation/lab-04-nodejs-ci/*

pool:
  name: Default   # self-hosted Windows agent

variables:
  APP_DIR: 01-foundation/lab-04-nodejs-ci

steps:
- script: |
    echo "Agent machine:"
    hostname
    echo "Running from:"
    cd $(APP_DIR)
    dir
    node -v
    npm -v
  displayName: "Verify agent and app directory"

- script: npm install
  workingDirectory: $(APP_DIR)
  displayName: "Install dependencies"

- script: npm test
  workingDirectory: $(APP_DIR)
  displayName: "Run unit tests"

- script: npm pack
  workingDirectory: $(APP_DIR)
  displayName: "Package application"
