trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: "18.x"
  displayName: "Install Node.js"

- script: |
    node -v
    npm -v
  displayName: "Verify Node and npm"

- script: npm install
  displayName: "Install dependencies"

- script: npm test
  displayName: "Run unit tests"

- script: npm pack
  displayName: "Package application"
